.ad-sense {
  background-color: white;
  height: 20em;
  color: $primary-dark;
  font-family: serif;
  display: grid;
  place-items: center;
  padding: 0 2em;

  @include mq-medium {
    border-top-right-radius: 1em;
  }

  @include mq-large {
    height: 100%;
  }

  h1 {
    font-weight: bold;
    font-size: 1.7em;

    @include mq-large {
      font-size: 3em;
    }

    span {
      display: block;
    }
  }

  p {
    margin-top: 2em;
    font-size: 1em;
    font-family: $info-font;
    font-weight: 400;
    color: rgb(83, 83, 83);
    width: 19em;

    @include mq-large {
      font-size: 1.4em;
    }

    a {
      background-color: $accent-blue;
      padding: 0.5em;
      border-radius: 2em;
      font-weight: bold;
      color: $primary-dark;
      font-family: Georgia, "Times New Roman", Times, serif;
      display: flex;
      justify-content: center;
      text-decoration: none;
      font-size: 1em;
      margin-top: 2em;
    }
  }
}
