.ad {
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0;
}

.ad1 {
  @include admxin("/assets/ad1.svg", 90%, 50%, $x: 10, $top: 2.5);
}

.ad2 {
  @include admxin("/assets/ad2.svg", 20%, 20%, $y: 10, $bottom: 5, $left: 12.5);

  @include mq-large {
    bottom: 10em;
    left: 21em;
  }
}
.ad3 {
  @include admxin("/assets/ad3.svg", 20%, 20%, $y: 10, $bottom: 1, $left: 12.5);

  @include mq-large {
    left: 21em;
    bottom: 2em;
  }
}
.ad4 {
  @include admxin("/assets/ad4.svg", 20%, 15%, $x: -10, $bottom: 1, $left: 3);

  @include mq-large {
    left: 4.5em;
    bottom: 2.5em;
  }
}
.ad5 {
  @include admxin("/assets/ad5.svg", 20%, 50%, $y: -10, $bottom: 2, $left: 0.5);
}
.ad6 {
  @include admxin("/assets/ad6.svg", 50%, 15%, $x: -10, $bottom: 3.5, $left: 3);

  @include mq-large {
    bottom: 7em;
    left: 4.5em;
    height: 20%;
    width: 60%;
  }
}
