.ad {
  position: absolute;
  background-repeat: no-repeat;
  //   width: 100%;
  //   height: 4em;
  //   overflow: hidden;
}

.ad1 {
  top: 2.5em;
  width: 90%;
  height: 50%;
  background-image: url(/assets/ad1.svg);
  transform: translate3d(10em, 0, 0);
  opacity: 0;
}

.ad2 {
  bottom: 10em;
  left: 21em;
  height: 20%;
  width: 20%;
  background-image: url(/assets/ad2.svg);
  transform: translate3d(0, 10em, 0);
  opacity: 0;
}
.ad3 {
  left: 21em;
  bottom: 2em;
  height: 20%;
  width: 20%;
  background-image: url(/assets/ad3.svg);
  transform: translate3d(0, 10em, 0);
  opacity: 0;
}
.ad4 {
  bottom: 1em;
  left: 4.5em;
  width: 20%;
  height: 20%;
  background-image: url(/assets/ad4.svg);
  transform: translate3d(-10em, 0, 0);
  opacity: 0;
}
.ad5 {
  left: 0.5em;
  bottom: 2em;
  height: 50%;
  width: 20%;
  background-image: url(/assets/ad5.svg);
  transform: translate3d(0, -10em, 0);
  opacity: 0;
}
.ad6 {
  bottom: 6em;
  left: 4.5em;
  height: 20%;
  width: 60%;
  background-image: url(/assets/ad6.svg);
  transform: translate3d(-10em, 0, 0);
  opacity: 0;
}
