.befooter {
  display: grid;
  place-items: center;
  padding: 1em 2em;
  height: 8em;
  background-color: $primary-dark;
  color: $primary-light;
  font-weight: bold;
  font-size: 1.1em;

  @include mq-medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq-large {
    height: 5em;
  }

  span {
    color: $accent-yellow;
  }
  a {
    background-color: $accent-blue;
    padding: 0.5em;
    border-radius: 2em;
    font-weight: bold;
    color: $primary-dark;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1em;
    margin-top: 1em;
    width: 17em;
    margin-left: -1em;

    @include mq-large {
      justify-self: end;
      margin-right: 3em;
    }
  }

  .attract {
    @include mq-large {
      justify-self: start;
      margin-left: 3em;
    }
  }
}
