.entice {
  height: 30em;
  background-color: white;
  font-family: $header-font-1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "upper"
    "bottom";
  place-items: center;
  padding: 0 2em;
  background: linear-gradient(
    45deg,
    rgba(158, 158, 158, 0.1) 15%,
    transparent 0
  );

  @include mq-medium {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "bottom upper";
    grid-column-gap: 3em;
    height: 20em;
  }

  @include mq-large {
    height: 15em;
  }

  .really {
    background-color: $primary-dark;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    display: grid;
    place-items: center;
    padding: 1em 2em;
    border-radius: 1em;
    position: relative;
    grid-area: bottom;

    @include mq-large {
      width: 17em;
    }

    &::before {
      content: "";
      top: -1em;
      right: -1em;
      width: 3em;
      height: 3em;
      position: absolute;
      border-radius: 0.3em;
      transform: rotate(20deg);
      background: url("/assets/party-popper.svg") no-repeat $accent-blue 50% 50%;
      background-size: 2em;
    }

    &::after {
      content: "";
      bottom: -1em;
      left: 2em;
      width: 1em;
      height: 1em;
      background: linear-gradient(-45deg, transparent 50%, $primary-dark 0);
      position: absolute;
    }

    .caption {
      color: $accent-yellow;
    }
  }
  .right {
    grid-area: upper;
    margin: 2em 0 0;

    h2 {
      font-size: 1.3em;
      font-weight: bold;
      padding-bottom: 1em;
      line-height: 1.2;
    }

    p {
      font-family: $info-font;
      line-height: 1.2;
      color: gray;
    }
  }
}
