.services {
  height: 65em;
  background-color: white;
  background-image: linear-gradient(
    135deg,
    rgba(158, 158, 158, 0.1) 12.8%,
    transparent 0 86.8%,
    rgba(158, 158, 158, 0.1) 0
  );
  display: grid;
  place-items: center;
  padding: 0 2em;

  @include mq-medium {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    height: 25em;
  }

  div {
    @include mq-medium {
      height: 20em;
    }

    .pixar {
      width: 4em;
      height: 4em;
      border-radius: 0.4em;
      margin-bottom: 1em;
    }

    .head {
      font-weight: bold;
      font-family: $header-font-1;
      font-size: 1.5em;
      line-height: 1.2;
    }

    .info {
      margin-top: 1em;
      line-height: 1.2;
      font-size: 1.1em;
    }

    .globe {
      background: url("/assets/globe.svg") no-repeat $accent-yellow 50% 50%;
      background-size: 3em;
    }

    .hear {
      background: url("/assets/headphones.svg") no-repeat $accent-yellow 50% 50%;
      background-size: 3em;
    }

    .connect {
      background: url("/assets/device.svg") no-repeat $accent-yellow 50% 50%;
      background-size: 3em;
    }
  }
}
