.subscribe {
  background-color: $primary-dark;
  height: 25em;
  background-image: linear-gradient(
    45deg,
    transparent 25%,
    hsla(0, 0%, 100%, 0.05) 0,
    hsla(0, 0%, 100%, 0.05) 83.5%,
    transparent 0
  );
  display: grid;
  place-items: center;

  @include mq-medium {
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(
      -45deg,
      // transparent 15%,
      transparent 48%,
      hsla(0, 0%, 100%, 0.05) 0,
      // hsla(0, 0%, 100%, 0.05) 35.6%,
      hsla(0, 0%, 100%, 0.05) 86%,
      transparent 0
    );
  }

  .sub {
    color: $primary-light;
    line-height: 1.2;
    margin: 2em;
    font-size: 1.1em;

    .ad {
      background-color: $accent-blue;
      padding: 0.5em;
      border-radius: 2em;
      font-weight: bold;
      color: $primary-dark;
      font-family: Georgia, "Times New Roman", Times, serif;
      display: flex;
      justify-content: center;
      text-decoration: none;
      font-size: 1em;
      margin-top: 3em;
    }
  }
  .enthus {
    background-color: $accent-yellow;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2;
    border-radius: 1em 0em 0em 1em;
    position: relative;
    padding: 1.5em;
    margin-left: 2em;

    &::before {
      content: "";
      top: -2em;
      right: 2em;
      width: 3em;
      height: 3em;
      position: absolute;
      border-radius: 0.5em;
      transform: rotate(-25deg);
      background: url("/assets/gift-box.svg") no-repeat white 50% 50%;
      background-size: 2em;
    }
  }
}
