%sub-btn {
  background-color: $accent-blue;
  padding: 0.5em;
  border-radius: 2em;
  font-weight: bold;
  color: $primary-dark;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1em;
}
