article {
  background-color: $gen-accent;
  padding: 1em 0;

  .content {
    background-color: $background-color;
    padding: 1em;
    margin: 1em;
    margin-top: 3em;
    color: hsla(0, 100%, 100, 0.6);
    padding: 1em;
    font-family: $sans;
    line-height: 1em;
    border-radius: 1em;
    line-height: 1.7;
    margin-bottom: 5em;
  }

  h2 {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin: 1em 0;
    line-height: normal;
  }

  p {
    margin: 1em 0;
  }

  .navigation {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    color: $fancy-font-color;
    text-transform: uppercase;
    font-weight: bold;
  }
}
