.comment {
  padding: 1em;
  font-family: $sans;
  color: hsla(0, 100%, 100%, 0.6);

  .comments {
    background-color: $background-color;
    border-radius: 1em;
    padding: 1em;

    &-header {
      h3 {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        position: relative;
        padding: 1em 0 2em;

        &::before {
          content: "";
          width: 3em;
          height: 0.25em;
          background-color: $fancy-font-color;
          position: absolute;
          bottom: 0;
        }
      }
    }

    .count {
      margin-top: 1em;
      color: white;

      &-number {
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 1.8em;
      }

      &-keyword {
        display: flex;
        justify-content: flex-end;
        margin: 0.5em 0;
      }
    }
  }
}

.comments-comments {
  .main-comment {
    .header-info {
      color: $fancy-font-color;
      margin: 1em 0;
      span {
        color: white;
      }
    }
  }

  .re-container {
    display: flex;
    justify-content: flex-end;

    .reply {
      background-color: $fancy-font-color;
      color: $background-color;
      display: inline-block;
      padding: 1em;
      font-weight: bold;
      border-radius: 2em;
    }
  }

  .commentary {
    line-height: 1.5;
    margin: 1em 0;
  }

  .reply-comment {
    padding-left: 1em;
  }

  .reply-reply-comment {
    padding-left: 2em;
  }
}

.new-comment {
  margin-top: 4em;
  &-header {
    h4 {
      color: white;
      font-weight: bold;
    }
    p {
      color: rgb(103, 103, 255);
      font-size: 0.8em;
      margin: 1em 0;
    }
  }

  form {
    textarea {
      background-color: $background-color;
      outline: none;
      border: none;
      resize: none;
      color: hsla(0, 100%, 100, 0.6);
      border-radius: 0.25em;
      width: calc(100% - 2em);
      height: 20em;
      padding: 1em;
      margin: 1em 0;

      &::placeholder {
        color: inherit;
      }
    }
  }
}
