.related {
  background-color: $background-color;

  .content {
    color: hsla(0, 100%, 100, 0.6);
    font-family: $sans;
    padding: 1em;
  }

  h2 {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    text-transform: uppercase;
    position: relative;
    padding: 1em 0 3em 0;

    &::before {
      content: "";
      width: 3em;
      height: 0.25em;
      background-color: $fancy-font-color;
      position: absolute;
      bottom: 0;
    }
  }

  .post {
    background-color: $section-background-color;
    padding: 1em;
    border-radius: 1em;
    margin: 2em 0;

    &-header {
      margin-bottom: 1em;
    }

    &-title {
      color: white;
      font-weight: bold;
      padding: 0.3em 0;
    }

    &-date {
      color: $fancy-font-color;
      opacity: 0.9;
    }

    &-info {
      color: hsla(0, 100%, 100, 0.6);
      line-height: 1.7;
    }
  }
}
