.related {
  background-color: $background-color;

  .content {
    color: hsla(0, 100%, 100, 0.6);
    font-family: $sans;
    padding: 1em;
  }

  h2 {
    color: white;
    font-weight: bold;
    font-size: 1.7em;
    text-transform: uppercase;
    position: relative;
    padding: 1em 0 3em 0;

    &::before {
      content: "";
      width: 3em;
      height: 0.25em;
      background-color: $fancy-font-color;
      position: absolute;
      bottom: 0;
    }
  }
}
