.moveRight {
  animation: moveRight 3s;
}

.moveLeft {
  animation: moveLeft 3s;
}

.moveUp {
  animation: moveUp 3s;
}

.moveDown {
  animation: moveUp 3s;
}

.elongate {
  animation: elongate 3s;
}

.showUp {
  animation: showUp 3s;
}

.showDown {
  animation: showDown 3s;
}

.rotar {
  animation: rotar 3s;
}

.showShow {
  animation: showShow 3s;
}
