@mixin mq-medium {
  @media (min-width: $medium-screen) {
    @content;
  }
}

@mixin mq-large {
  @media (min-width: $large-screen) {
    @content;
  }
}

@mixin admxin(
  $background,
  $width,
  $height,
  $x: 0,
  $y: 0,
  $top: null,
  $bottom: null,
  $left: null,
  $right: null
) {
  background-image: url(#/assets/{$background});
  transform: translate3d(#{$x}em, #{$y}em, 0);
  top: #{$top}em;
  bottom: #{$bottom}em;
  left: #{$left}em;
  top: #{$top}em;
  width: $width;
  height: $height;
}
