// colors
$primary-dark: #2f2f2f;
$primary-light: #d9d9d9;
$accent-bluest: #4293df;
$accent-bluer: #63b1ff;
$accent-blue: #32e2d1;
$accent-blue-light: #33ffee;
$accent-yellow: #fde154;

// font
$header-font-1: Georgia, "Times New Roman", Times, serif;
$header-font-2: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$info-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
