// colors
$primary-dark: #2f2f2f;
$primary-light: #d9d9d9;
$accent-bluest: #4293df;
$accent-bluer: #63b1ff;
$accent-blue: #32e2d1;
$accent-blue-light: #33ffee;
$accent-yellow: #fde154;

//screen size
$medium-screen: 730px;
$large-screen: 930px;
