.befooter {
  display: grid;
  place-items: center;
  padding: 1em 2em;
  height: 8em;
  background-color: $primary-dark;
  color: $primary-light;
  font-weight: bold;
  font-size: 1.1em;

  @include mq-medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq-large {
    height: 5em;
  }

  span {
    color: $accent-yellow;
  }

  a {
    @extend %sub-btn;
    margin-top: 1em;
    margin-left: -2em;
    width: 17em;

    @include mq-large {
      justify-self: end;
      margin-right: 3em;
    }
  }
  .attract {
    @include mq-large {
      justify-self: start;
      margin-left: 3em;
    }
  }
}
