footer {
  height: 3em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 4em;
  }

  .copyright {
    margin-right: 3em;
  }
}
