html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
summary,
time,
mark,
audio,
kbd,
q,
s,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 100vh;
  background: #2f2f2f;
  background-image: repeating-linear-gradient(-40deg, transparent, transparent 30em, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 60em);
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  height: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10em;
}

.hero {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.ad-sense {
  background-color: white;
  height: 100%;
  border-top-right-radius: 1em;
  color: #2f2f2f;
  font-family: serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 12px;
      flex-basis: 12px;
}

.ad-sense h1 {
  font-weight: bold;
  font-size: 3em;
}

.ad-sense h1 span {
  display: block;
}

.ad-sense p {
  margin-top: 2em;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: gray;
  width: 19em;
}

.ad-sense p a {
  background-color: #32e2d1;
  padding: 0.5em;
  border-radius: 2em;
  font-weight: bold;
  color: #2f2f2f;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1em;
  margin-top: 2em;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
  background-color: #fde154;
  color: #2f2f2f;
  font-weight: bold;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10em;
}

.companies .atlantic {
  font-family: "Vladimir Script";
}

.companies .usa-today {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.companies .usa-today::before {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  border-radius: 50%;
  background-color: #2f2f2f;
  left: -1.1em;
}

.companies .msnbc {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.companies .buzzfeed span {
  font-size: x-small;
}

.companies .vox {
  font-family: "Brush Script MT";
  font-size: larger;
}

.companies .gizmodo {
  font-family: "Arial Narrow";
}

.companies .verge {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.companies .slate {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.ad-free,
.etc {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fixture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.fixture .main {
  width: 25em;
  height: 25em;
  background-color: white;
  position: relative;
  border-radius: 2em;
  color: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixture .main::before {
  content: "";
  position: absolute;
  background-color: #32e2d1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  border-radius: inherit;
  -webkit-animation: rotate 1s ease-in-out infinite;
          animation: rotate 1s ease-in-out infinite;
}

.fixture .main h2 {
  margin-top: 1em;
}

.fixture .main .news svg {
  width: 16em;
  height: 4em;
  margin-top: 1em;
}

.fixture .main .first {
  -webkit-transform: translate3d(0, 5em, 0);
          transform: translate3d(0, 5em, 0);
}

.fixture .main .second {
  -webkit-transform: translate3d(0, 3em, 0);
          transform: translate3d(0, 3em, 0);
  opacity: 0;
}

.fixture .main .third {
  -webkit-transform: translate3d(0, 3em, 0);
          transform: translate3d(0, 3em, 0);
  opacity: 0;
}

.fixture .main .fourth {
  -webkit-transform: scaleX(0.5) translateX(8em);
          transform: scaleX(0.5) translateX(8em);
}

.ad {
  position: absolute;
  background-repeat: no-repeat;
}

.ad1 {
  top: 2.5em;
  width: 90%;
  height: 50%;
  background-image: url(/assets/ad1.svg);
  -webkit-transform: translate3d(10em, 0, 0);
          transform: translate3d(10em, 0, 0);
  opacity: 0;
}

.ad2 {
  bottom: 10em;
  left: 21em;
  height: 20%;
  width: 20%;
  background-image: url(/assets/ad2.svg);
  -webkit-transform: translate3d(0, 10em, 0);
          transform: translate3d(0, 10em, 0);
  opacity: 0;
}

.ad3 {
  left: 21em;
  bottom: 2em;
  height: 20%;
  width: 20%;
  background-image: url(/assets/ad3.svg);
  -webkit-transform: translate3d(0, 10em, 0);
          transform: translate3d(0, 10em, 0);
  opacity: 0;
}

.ad4 {
  bottom: 3em;
  left: 4.5em;
  width: 20%;
  height: 20%;
  background-image: url(/assets/ad4.svg);
  -webkit-transform: translate3d(-10em, 0, 0);
          transform: translate3d(-10em, 0, 0);
  opacity: 0;
}

.ad5 {
  left: 0.5em;
  bottom: 2em;
  height: 50%;
  width: 20%;
  background-image: url(/assets/ad5.svg);
  -webkit-transform: translate3d(0, -10em, 0);
          transform: translate3d(0, -10em, 0);
  opacity: 0;
}

.ad6 {
  bottom: 8em;
  left: 4.5em;
  height: 20%;
  width: 60%;
  background-image: url(/assets/ad6.svg);
  -webkit-transform: translate3d(-10em, 0, 0);
          transform: translate3d(-10em, 0, 0);
  opacity: 0;
}

.subscribe {
  background-color: #2f2f2f;
  height: 50vh;
  background-image: linear-gradient(45deg, transparent 15%, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 35.6%, transparent 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.subscribe .sub {
  color: #d9d9d9;
  width: 17em;
  line-height: 1.2;
  margin-left: 2em;
  margin-bottom: 5em;
}

.subscribe .sub .ad {
  width: 17em;
  background-color: #32e2d1;
  padding: 0.5em;
  border-radius: 2em;
  font-weight: bold;
  color: #2f2f2f;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1em;
  margin-top: 3em;
}

.subscribe .enthus {
  width: 30em;
  background-color: #fde154;
  height: 8em;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.2;
  border-radius: 1em 0em 0em 1em;
  position: relative;
  -webkit-transform: translateX(6.04em);
          transform: translateX(6.04em);
}

.subscribe .enthus::before {
  content: "";
  top: -2em;
  right: 8em;
  width: 4em;
  height: 4em;
  position: absolute;
  border-radius: 0.5em;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  background: url("/assets/gift-box.svg") no-repeat white 50% 50%;
  background-size: 3em;
}

.subscribe .enthus h2 {
  width: 11em;
  -webkit-transform: translate(3.2em, 1.5em);
          transform: translate(3.2em, 1.5em);
  position: absolute;
}

.entice {
  height: 50vh;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: linear-gradient(45deg, rgba(158, 158, 158, 0.1) 15%, transparent 0);
}

.entice .really {
  background-color: #2f2f2f;
  width: 17em;
  font-weight: bold;
  height: 10em;
  color: white;
  font-size: 1.4em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1em 3em;
  border-radius: 1em;
  position: relative;
}

.entice .really::before {
  content: "";
  top: -1em;
  right: -1em;
  width: 3em;
  height: 3em;
  position: absolute;
  border-radius: 0.3em;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  background: url("/assets/party-popper.svg") no-repeat #32e2d1 50% 50%;
  background-size: 2em;
}

.entice .really::after {
  content: "";
  bottom: -1em;
  left: 2em;
  width: 1em;
  height: 1em;
  background: linear-gradient(-45deg, transparent 50%, #2f2f2f 0);
  position: absolute;
}

.entice .really .caption {
  color: #fde154;
}

.entice .right {
  width: 25em;
}

.entice .right h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 1em;
  width: 15em;
  line-height: 1.2;
}

.entice .right p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: gray;
}

.services {
  height: 90vh;
  background-color: white;
  background-image: linear-gradient(135deg, rgba(158, 158, 158, 0.1) 12.8%, transparent 0 86.8%, rgba(158, 158, 158, 0.1) 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services div {
  width: 15em;
}

.services div .pixar {
  width: 4em;
  height: 4em;
  border-radius: 0.4em;
  margin-bottom: 1em;
}

.services div .head {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  line-height: 1.2;
  display: inline;
}

.services div .info {
  margin-top: 1em;
  line-height: 1.2;
  height: 12em;
}

.services div .globe {
  background: url("/assets/globe.svg") no-repeat #fde154 50% 50%;
  background-size: 3em;
}

.services div .hear {
  background: url("/assets/headphones.svg") no-repeat #fde154 50% 50%;
  background-size: 3em;
}

.services div .connect {
  background: url("/assets/device.svg") no-repeat #fde154 50% 50%;
  background-size: 3em;
}

.draw {
  height: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #2f2f2f;
  color: #d9d9d9;
  font-weight: bold;
  font-size: 1.3em;
}

.draw span {
  color: #fde154;
}

.draw .sub {
  margin-left: 3em;
}

.draw .ad {
  background-color: #32e2d1;
  width: 10em;
  padding: 0.5em;
  border-radius: 2em;
  font-weight: bold;
  color: #2f2f2f;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 1em;
  margin-top: -1em;
}

footer {
  height: 15vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  margin-left: 9em;
}

footer .copyright {
  margin-right: 10em;
}

.logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  position: relative;
}

.logo::before {
  content: "";
  width: 1em;
  height: 1em;
  background-color: #fde154;
  background: url(/assets/logo.svg);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  position: absolute;
  left: -1.4em;
  border-radius: 0.2em;
}
/*# sourceMappingURL=style.css.map */